@media screen and (min-width: 0 px1) {
    .doll {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 264px;
        height: 362px;
        zoom: 50%;
    }
}

@media screen and (min-width: 480px) {
    .doll {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 264px;
        height: 362px;
        zoom: 75%;
    }
}

@media screen and (min-width: 768px) {
    .doll {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 264px;
        height: 362px;
        zoom: 100%;
    }
}

.doll .part {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 23px;
    height: 30px;
    opacity: 0;
    z-index: 1;
}

.doll .dolly {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 264px;
    z-index: 0;
}

@-webkit-keyframes anziehen {
    to {
        top: 0px;
        left: 0px;
        width: 264px;
        height: 348px;
        opacity: 1;
    }
}

@-webkit-keyframes anziehen_2 {
    99% {
        top: 0px;
        left: 0px;
        width: 264px;
        height: 348px;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 264px;
        height: 348px;
        opacity: 1;
        z-index: 2;
    }
}

@-webkit-keyframes anziehen_-1 {
    99% {
        top: 0px;
        left: 0px;
        width: 264px;
        height: 348px;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 264px;
        height: 348px;
        opacity: 1;
        z-index: -1;
    }
}

.doll .gummistiefel {
    content: url("res/paper-doll/gummie-stiefel.png");
}

.doll .gummistiefel.animate {
    -webkit-animation: anziehen;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.doll .converse {
    content: url("res/paper-doll/converse.png");
}

.doll .converse.animate {
    -webkit-animation: anziehen;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.doll .kittel {
    content: url("res/paper-doll/kittel.png");
}

.doll .kittel.animate {
    -webkit-animation: anziehen;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.doll .outdoor {
    content: url("res/paper-doll/outdoor.png");
}

.doll .outdoor.animate {
    -webkit-animation: anziehen;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.doll .schirm {
    content: url("res/paper-doll/schirm.png");
}

.doll .schirm.animate {
    -webkit-animation: anziehen_2;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.doll .schluessel {
    content: url("res/paper-doll/schlüssel.png");
}

.doll .schluessel.animate {
    -webkit-animation: anziehen_-1;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.doll .sonnenbrille {
    content: url("res/paper-doll/sonnenbrille.png");
}

.doll .sonnenbrille.animate {
    -webkit-animation: anziehen;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.doll .taschen {
    content: url("res/paper-doll/taschen.png");
}

.doll .taschen.animate {
    -webkit-animation: anziehen_2;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.doll .trenchcoat {
    content: url("res/paper-doll/trech-coat.png");
}

.doll .trenchcoat.animate {
    -webkit-animation: anziehen;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

.doll .uhr {
    content: url("res/paper-doll/uhr.png");
}

.doll .uhr.animate {
    -webkit-animation: anziehen_2;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
    -webkit-animation-fill-mode: forwards;
}

/*

.doll .kittel2 {
    top: 350px;
    left: 0px;
    width: 46px;
    content:url("res/kittel.png");
}

.doll .kittel2.animate {
    -webkit-animation: kittel;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out ;
    -webkit-animation-fill-mode: forwards;
}

.doll .outdoor2 {
    top: 350px;
    left: 50px;
    width: 43px;
    content:url("res/outdoor.png");
}

.doll .outdoor2.animate {
    -webkit-animation: outdoor;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out ;
    -webkit-animation-fill-mode: forwards;
}


.doll .gummistiefel3 {
    top: 350px;
    left: 100px;
    width: 35px;
    content:url("res/gummistiefel.png");
}

.doll .gummistiefel3.animate {
    -webkit-animation: gummistiefel;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out ;
    -webkit-animation-fill-mode: forwards;
}

.doll .converse3 {
    top: 350px;
    left: 150px;
    width: 34px;
    content:url("res/converse.png");
}

.doll .converse3.animate {
    -webkit-animation: converse;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out ;
    -webkit-animation-fill-mode: forwards;
}

.doll .kittel3 {
    top: 350px;
    left: 200px;
    width: 46px;
    content:url("res/kittel.png");
}

.doll .kittel3.animate {
    -webkit-animation: kittel;
    -webkit-animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out ;
    -webkit-animation-fill-mode: forwards;
}
*/
