<div class="row">
    <div class="col-xs-12 all-header">
        <img src="res/lis.png">
    </div>
</div>
<div class="row">

    <pd-navigation show="qctrl.isCurrent(5)" current="qidx" questions="questions"></pd-navigation>

    <!-- eine Frage mit ihren Antworten wird ausgegeben -->
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="place == 'question'">
            <div class="question" ng-repeat="question in questions"
                 ng-show="qctrl.isCurrent(question.index)">
                <div class="col-md-12">
                    <h3 class="frage">{{question.frage}}</h3>
                </div>
                <div class="col-md-12" pd-antwort index="0" question="question" onanswer="qctrl.selectAnswer" answerclass="qctrl.selected"></div>
                <div class="col-md-12" pd-antwort index="1" question="question" onanswer="qctrl.selectAnswer" answerclass="qctrl.selected"></div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="place == 'background'">
            <div class="row">

                <div class="col-xs-12">
                    <div ng-bind-html="background"></div>
                </div>
                <div class="col-xs-push-5 col-xs-2" style="text-align: center;">
                    <div class="btn-lg btn-default" ng-mouseup="qctrl.toImage()">Weiter</div>
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12" ng-show="place == 'image'">
            <div class="row">
                <div class="col-xs-12" ng-mouseup="qctrl.nextQuestion()">
                    <img src="{{image}}" style="max-width:80%;max-height:600px" class="img-responsive center-block">
                </div>
            </div>
        </div>

    </div>

</div>
