<div class="row">
    <div class="col-xs-12 all-header">
        <img src="res/lis.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Die Qual der Wahl</h1>

        <p>Du willst umziehen, stellst dir diesmal sogar die Grundsatzfrage: Stadt oder Land? Das Quiz weist dir den Weg – nach 5 Fragen weißt du, wo du hingehörst.</p>

        <div class="front-doll-box">
            <div class="play-button">
                <a href="#/game/0/question"><span class="play-symbol">&gt;</span></a>
            </div>
        </div>
    </div>

</div>
