<div class="row">
    <div class="col-xs-12 start-header">
        <img src="../../res/lis.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Die Qual der Wahl</h1>

        <p>VORSPANN Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum </p>

        <h4>Ablauf Erklärung</h4>

        <p>Blabla blab balabalbab lablab alb ala labla alb alb alb</p>
        <h4><a ng-mouseup="startCtrl.openAbout()"
               title="PopUp Text für den About Link..."
        >Wer denkt sich denn sowas aus?</a></h4>

        <div class="about" ng-show="startCtrl.showAbout">
            hier schreibt man den About Text rein
        </div>

        <div class="front-doll-box">
            <div class="play-button">
                <a href="#/game/0/question"><span class="play-symbol">&gt;</span></a>
            </div>
        </div>
    </div>

</div>
