<div class="row">
    <div class="col-xs-12 start-header">
        <img src="res/lis.png">
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Die Qual der Wahl</h1>

        <p>Du willst umziehen, stellst dir diesmal sogar die Grundsatzfrage: Stadt oder Land? Das Quiz weist dir den Weg – nach 5 Fragen weißt du, wo du hingehörst.</p>

        <h4><a ng-mouseup="startCtrl.openAbout()"
               title="PopUp Text für den About Link..."
        >Wer denkt sich denn sowas aus?</a></h4>

        <div class="about" ng-show="startCtrl.showAbout">
            Dieses Quiz entstand 2015 im Rahmen des Zertifikatskurses "Visuelle Publizistik" an der Akademie für Publizistik in Hamburg. Idee, Konzept, Redaktion: Mareike Parchmann und Tamara Weise / Programmierung: Thomas Strauß
        </div>

        <div class="front-doll-box">
            <div class="play-button">
                <a href="#/game/0/question"><span class="play-symbol">&gt;</span></a>
            </div>
        </div>
    </div>

</div>
